html {
    font-size: 62.5%;
}

body {
    margin: 0rem;
    padding: 0rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    border: solid black 0.1rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
    background-color: rgb(29, 141, 172);
    color: white;
}

a:hover {
    background-color: rgb(28, 175, 28);
    transform: scale(1.5 1.5);
}